# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Secrets
.env
.env.*

# Datasets
data/raw/
data/processed/
datasets/

# Model weights
models/*
*.pt
*.pth
*.bin
*.safetensors

# Hugging Face cache
.cache/
huggingface_cache/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Logs
*.log

# OS
Thumbs.db
.DS_Store
data/samples/*
